.card{
    // border: 2px solid red;
    margin: 0 !important;
    img{
        // border: 2px solid red;
        width: 250px;
        height: 250px;
        margin: auto;
    }
}
.card-body{
    display: flex;
    justify-content: center;
    padding: 8px !important;
    button{
        background-color: crimson;
        width: 100% !important;
        border: none !important;

    }
    button:hover{
        background-color: red;
    }
}