.cardAccordion{
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    cursor: pointer;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 6px;
    padding: 15px;
    .cardHeaderAccordion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2,p{
            padding: 0;
            margin: 0;
        }
        h2{
            font-size: 22px;
            color: gray;
            font-family: Poppins;
        }
    }
    .upperAccordion{
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin: 0;
            font-size: 12px;
            margin-top: -2px;
        }
    }
}
.paraAccordion{
    // border: 2px solid red;
    // width: 80%;
    margin: auto;
    margin-top: 10px;
}
.cardAccordion:first-of-type{
    // border: 2px solid red;
    margin-top: 20px;
}